@charset "UTF-8";
.header-nav > ul, .header .contact, .portfolio .filter, .portfolio .examples, .address ul, .footer-social-list {
  /* убирем точки в списках, где это необходимо */
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-swithcer {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

a,
button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-width: 200px;
  display: inline-block;
  padding: 10px 0px;
  font-size: 16px;
  line-height: 1.8;
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  background-color: #2196f3;
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.section {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0;
}

.section.no-padding-top {
  padding-top: 0px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-content {
    display: none;
    padding-bottom: 60px;
    z-index: 100;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .header-content.is-open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .header .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .logo {
    margin-right: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 85px;
  }
}

.footer .logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .logo-accent {
  color: #ffffff;
}

.header .logo-accent {
  color: #000000;
}

/* nav-header */
.header-nav {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .header-nav li + li {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav > ul {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .header-nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-nav li {
    margin-bottom: 40px;
  }
}

.header-nav .nav-link {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .header-nav .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-nav .nav-link.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav-link.current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-link.current {
    padding-bottom: 8px;
  }
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
  color: #2196f3;
}

.menu-swithcer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-swithcer {
    display: none;
  }
}

.menu-swithcer svg {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-swithcer:hover svg,
.menu-swithcer:focus svg {
  fill: #2196f3;
}

.menu-swithcer .icon-close-menu {
  display: none;
}

.menu-swithcer.is-open .icon-close-menu {
  display: block;
}

.menu-swithcer.is-open .icon-open-menu {
  display: none;
}

/* contact header */
@media screen and (max-width: 767px) {
  .header .contact {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .header .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-item {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item {
    font-size: 14px;
    line-height: 1.1429;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header .contact li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .contact li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .contact li:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-item:hover,
.contact-item:focus {
  color: #2196f3;
  text-decoration: none;
}

/* filter */
/* Кнопки фильтра */
.portfolio .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .portfolio .filter {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio .filter-item {
  margin-bottom: 15px;
}

.portfolio .filter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio .filter-item {
    margin-bottom: 50px;
  }
}

.filter-item button {
  font-family: inherit;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-style: none;
  cursor: pointer;
}

.filter-item button:hover, .filter-item button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Формирование сетки */
.portfolio .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples > li {
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .examples > li {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples > li {
    width: 354px;
  }
  .examples > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .examples > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples > li {
    width: 370px;
  }
  .examples > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .examples > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.examples > li:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* формирование карточки */
.element {
  display: block;
  text-decoration: none;
}

.element-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.element-img {
  display: block;
  width: 100%;
}

.element-thumb {
  position: relative;
  overflow: hidden;
}

.element-disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0.5;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples li:hover .element-disc {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.element-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-type {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 280px;
}

.flex.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .flex.container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* блок div с адресом и контактами */
@media screen and (min-width: 1200px) {
  .footer .address {
    margin-right: auto;
  }
}

.footer .address li:not(:last-child) {
  margin-bottom: 10px;
}

.footer address {
  /* весь блок адреса */
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .footer address li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-address {
  /* город, улица, дом */
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin: 0;
}

.footer-mail,
.footer-phone {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0;
}

/* Социальные сети */
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 102px;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .social-icon {
  text-decoration: none;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.footer-social-list a:hover, .footer-social-list a:focus {
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
}

/* Форма подписки */
@media screen and (max-width: 1199px) {
  .footer .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form input {
  max-width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe-form input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form input::placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-button::after {
  content: '';
  background-image: url(../images/icon-send.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.footer-social b,
.subscribe b {
  display: block;
  margin-bottom: 21px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer-social b,
  .subscribe b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=portfolio.css.map */