.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: $accent-color;
  @media screen and (min-width: $min-desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header .logo {
  @media screen and (max-width: $max-tablet) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $min-tablet) and (max-width: $max-desktop) {
    // min-width: 142px;
    margin-right: 81px;
  }

  @media screen and (min-width: $min-desktop) {
    // min-width: 153px;
    margin-right: 85px;
  }
}

.footer .logo {
  margin-bottom: 20px;

  @media screen and (max-width: $max-desktop) {
    display: flex;
    justify-content: center;
  }
}

.footer .logo-accent {
  color: $light-color;
}

.header .logo-accent {
  color: #000000;
}
