/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 280px;
}

.flex.container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $min-tablet) {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* блок div с адресом и контактами */
.footer .address {
  @media screen and (min-width: $min-desktop) {
    margin-right: auto;
  }
}

.address ul {
  @extend %list;
}

.footer .address li:not(:last-child) {
  margin-bottom: 10px;
}

.footer address {
  /* весь блок адреса */
  font-style: normal;

  & li {
    @media screen and (max-width: $max-desktop) {
      display: flex;
      justify-content: center;
    }
  }
}

.footer-address {
  /* город, улица, дом */
  font-size: 14px;
  line-height: 1.71;
  color: $light-color;
  margin: 0;
}

.footer-mail,
.footer-phone {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0;
}

/* Социальные сети */
.footer-social {
  @media screen and (min-width: $min-desktop) {
    margin-right: 102px;
  }

  @media screen and (max-width: $max-tablet) {
    margin-top: 60px;
  }
}

.footer-social-list {
  @extend %list;
  display: flex;

  @media screen and (max-width: $max-tablet) {
    justify-content: center;
  }
}

.footer .social-icon {
  text-decoration: none;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $light-color;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $light-color;
    background-color: $accent-color;
    text-decoration: none;
  }
}
