/* team */
.team .item {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.section.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.team-item {
  width: 270px;
  background-color: $light-bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  padding-bottom: 24px;
}

.team-item h3 {
  /* name */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-item img {
  margin-bottom: 30px;
}

.team-item p {
  /* position */
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-social-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.team-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  &:hover,
  &:focus {
    color: $light-color;
    background-color: $accent-color;
  }
}

.team-item .social-icon {
  text-decoration: none;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-social-list li:not(:last-child) {
  margin-right: 10px;
}
