/* contact header */

.header .contact {
  @media screen and (max-width: $max-tablet) {
    margin-top: 60px;
  }
}

.header .contact-list {
  @extend %list;

  @media screen and (max-width: $max-tablet) {
    text-align: center;
  }

  @media screen and (min-width: $min-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.contact-item {
  color: $primery-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  @media screen and (max-width: $max-tablet) {
    justify-content: center;
  }

  @media screen and (min-width: $min-tablet) {
    font-size: 12px;
    line-height: 1.1666;
  }

  @media screen and (min-width: $min-desktop) {
    font-size: 14px;
    line-height: 1.1429;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: $min-tablet) and (max-width: $max-desktop) {
    &.mail {
      width: 14px;
      height: 10px;
    }

    &.phone {
      width: 10px;
      height: 14px;
    }
  }
}

.header .contact li:not(:last-child) {
  @media screen and (max-width: $max-tablet) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $min-tablet) and (max-width: $max-desktop) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $min-desktop) {
    margin-right: 30px;
  }
}

.contact-item:hover,
.contact-item:focus {
  color: $accent-color;
  text-decoration: none;
}
