/* contact header */
.header .contact {
  @extend %list;
  display: none;

  @media screen and (min-width: $min-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  color: $primery-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.02em;

  @media screen and (min-width: $min-desktop) {
    font-size: 14px;
    line-height: 1.1429;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header .contact li:not(:last-child) {
  @media screen and (max-width: $max-desktop) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $min-desktop) {
    margin-right: 30px;
  }
}

.contact-item:hover,
.contact-item:focus {
  color: $accent-color;
  text-decoration: none;
}
