/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $min-tablet) {
  }
}

@import '../logo';
@import './header-nav';
@import './contact-header';
