/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  @media screen and (min-width: $min-tablet) {
    display: flex;
    align-items: center;
  }
}

@import '../logo';
@import './header-nav';
@import './contact-header';
