// color
$primery-text-color: #757575;
$accent-color: #2196f3;
$light-color: #ffffff;
$dark-color: #212121;

$grey-bg-color: #757575;
$light-bg-color: #ffffff;

// transition
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
